
#homehero {
    overflow: hidden;
    padding: 0px;
}

#upperNav {
    background-image: url(../images/custom/dnaBG.png) !important;
}





/*      Bootstrap CSS       */

h1 {
    color: black;
}

.hero-unit {
    border-radius: 0 !important;
}

/* .row-fluid [class*="span"] {
	margin-left: 20px;
}

.row-fluid [class*="span"]:first-child {
	margin-left: 0px;
} */

form {
	margin: 0px !important;
}


/*      Custom CSS      */

.home-header {
    font-size: 42px;
}

.home-body {
	/* margin: 0 20px; */
}

.home-header-text {
	float: left;
	overflow: hidden;
	width: 65%;
	margin-bottom: 15px;
	font-size: 17px;
}

.home-header-img {
	width: 10%;
	float: right;
	margin-top: -25px;
}

.block-header {
    font-size: 26px;
}

.block-text {
    font-size: 15px;
}

.block-text-18 {
    font-size: 18px;
}

.block {
    background-color: #f2eeff;
    padding: 25px;
    margin-top: 20px;
    float: left;
}

.horizontal-block-2 {
    width: 43.5%;
    height: 250px;
    margin-right: 20px;
}

.horizontal-block-3 {
	width: 27%;
	height: 250px;
	margin-right: 20px;
}

.wide-block {
	width: 93%;
	clear: both;
}

.half-text-width {
	width: 55%;
	float: left;
	
}

.video-small {
	float: right;
}

.user-image-small {
    float: right;
}

.table caption {
	text-align: left;
	margin: -10px 0 10px 0;
}

.table thead tr {
	background-color: #062C8F;
	color: white;
}

.table-name {
    width: 150px;
}

.table-name2 {
    width: 200px;
}

.table-date {
    width: 88px;
}

.table-date2 {
    width: 120px;
}

.table-reason {
	width: 200px;
}

.table-editdelete {
	width: 100px;
	text-align: center !important;
}

.add-button {
	width: 100px !important;
	margin-top: 10px;
	position: static;
}

.form-button {
	float: right;
}

.icons-edit {
	text-decoration: none !important;
}

.q_buttons_spacing {
	width: 25px;
	/* margin: 0px 10px; */
}

.q_buttons_row {
	clear: both;
}

.q_buttons_values {
	display: inline-block;
    padding:4px 12px;
    margin-bottom:0;
    font-size:14px;
    line-height:20px;
    text-align:center;
    vertical-align:middle;
	*display:inline;
	*zoom:1;
}

.wellness-button {
	float: right;
    border: 1px gray solid;
    background-color: rgb(212, 209, 252);
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.wellness-button:hover {
	text-decoration: none;
}





